@media (min-width: 770px) {
  .about {
    float: right;
  }

  .middle-col {
    border-right: 2px dashed darkblue;
    border-left: 2px dashed darkblue;
    border-radius: 1%;
  }
}

body {
  font-family: trebuchet;
  font-size: 16px;
}

a img:hover {
  box-shadow: 5px 5px black;
}

.back-button {
  width: 100%
  padding: 10px;
  font-size: 25px;
  text-align: center;
}

.banner {
  width: 100%;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  border-bottom: 2px solid darkblue;
  border-radius: 5%;
}

.center-align {
  text-align: center;
}

.circle-img {
  margin-top: 15px;
  border-radius: 50%;
  width: 45%;
}

.project {
  
}

.project img {
  width: 100%;
  border-radius: 10% 25%;
  margin-bottom: 10px;
}

.project p, .project ul {
  font-family: monospace;

}

.required {
  float: right;
}

.slide-up {
  margin-bottom: 10px;
}

.spread {
  background: rgba(225, 243, 244, 0.70);
  width: 100%;
}

.welcome {
  font-family: Georgia;
  font-size: 16px;
  background: url(http://www.planetware.com/photos-large/USNH/usa-new-hampshire-appalachian-trail.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}











/*BEGIN OLD STYLESHEET*/
/*
body {
  font-family: Georgia;
  font-size: 16px;
}

body.index {
  background: linear-gradient(90deg, #a5c8d1, #88e0d3);
  background-size: cover;
}

.welcome-container {
  height: 260px;
}

.center-align {
  text-align: center;
}

h1.panel {
  background-color: #c3e5c0;
}

.banner {
  width: 100%;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  border-bottom: 2px solid darkblue;
  border-radius: 5%;
}

.img-sculpt {
  border-radius: 10% 25%;
  padding: 5px;
  width: 100%;
}

.proj-img-container {
  margin: 10px;
}

.proj-row {
  margin-top: 25px;
}

.proj-col {
  border-right: 1px solid #484f47;
  border-left: 1px solid #484f47;
  border-radius: 4%;
  height: 450px;
}

.proj-col p {
  margin-top: 15px;
  margin-bottom: 10px;
  border-top: 2px dotted #484f47;
  margin-top: 10px;
  padding-top: 10px;
}

a img:hover {
  box-shadow: 5px 5px black;
}

.required {
  color: darkblue;
  text-shadow: 1px 1px gray;
}

.simple-list {
  list-style: none;
}

.resume-info {
  margin-left: 20px;
  margin-right: 20px;
}

.resume-info ul li {
  padding-bottom: 5px;
}

ol li, .indent {
  margin-left: 35px;
  padding: 3px;
}

.back-button {
  width: 100%
  padding: 10px;
  font-size: 25px;
  text-align: center;
}*/
