@media (min-width: 770px) {
  .about {
    float: right;
  }

  .middle-col {
    border-right: 2px dashed darkblue;
    border-left: 2px dashed darkblue;
    border-radius: 1%;
  }
}

@media (max-width: 770px) {
  .project {
    border-bottom: 2px dashed darkblue;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

body {
  font-family: trebuchet;
  font-size: 16px;
}

a img:hover {
  box-shadow: 5px 5px black;
}

.about ol {
  background: rgba(204, 211, 224, 0.5);
  border-radius: 5%;
  padding: 5px;
}

.about li {
  list-style: circle;
  margin-left: 25px;
}

.back-button {
  width: 100%
  padding: 10px;
  font-size: 25px;
  text-align: center;
}

.banner {
  width: 100%;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  border-bottom: 2px solid darkblue;
  border-radius: 5%;
}

.center-align {
  text-align: center;
}

.circle-img {
  margin-top: 15px;
  border-radius: 50%;
  width: 45%;
}

.general-pad {
  padding: 25px;
}

.project img {
  width: 100%;
  border-radius: 10% 25%;
  margin-bottom: 10px;
}

.project p, .project ul, .proj-title {
  font-family: monospace;
}

.project p {
  font-size: 20px;
}

.project p {
  text-decoration: underline;
  background: rgba(225, 243, 244, 0.70);
  border-radius: 10%;
  text-align: center;
}

.proj-title {
  border-top: 2px dashed darkblue;
  border-right: 2px dashed darkblue;
  border-left: 2px dashed darkblue;
  padding-left: 10px;
}

.req-other, .resume-link {
  color: darkblue;
  text-shadow: 1px 1px gray;
}

.required {
  color: darkblue;
  text-shadow: 1px 1px gray;
  float: left;
  margin-left: 15px;
  margin-bottom: 100px;
}

.resume-link {
  text-align: center;
  font-size: 25px;
  background: yellow;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7%;
}

.slide-up {
  margin-bottom: 10px;
}

.spread {
  background: rgba(225, 243, 244, 0.70);
  width: 100%;
}

.welcome {
  font-family: Georgia;
  font-size: 16px;
  background: url(http://www.planetware.com/photos-large/USNH/usa-new-hampshire-appalachian-trail.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
